﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@if(Request.IsAuthenticated)
{
    <p>Kasutaja: @User.Identity.Name</p>
    <p>Kasutaja meie baasis: @ViewBag.Kasutajanimi</p>
}
 else
{
<p>sisselogimata kasutaja</p>
}